/* SideNav.css */
.bg-secondary {
    background-color: #6c757d !important;
}

.nav-link {
    color: white !important;
    padding: 8px 10px;
    margin: 5px 0;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}